* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: blue;
  padding: 10px;
}

a {
  padding: 10px;
  border: 1px solid green;
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
  color: green;
}

a:hover {
  background: lightgreen;
  color: green;
}

